
  <!DOCTYPE html>
<html lang="en">


<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html" style="color: #2193ea;">Azure Architecture</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="getstarted scrollto" href="login">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
         
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up" style="color: #2193ea;">Build your Architecture</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Build Azure infrastructures easily with Azure Architecture. Generate Infrastructure as Code and estimate costs."</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="login" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="../assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
  <main id="main">

   

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>About Azure Architecture</h2>
        </div>
        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              Azure Architecture empowers users to build complex Azure infrastructures effortlessly. Whether it's VMs, VNets, or storage solutions, we've got you covered.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Easily compose Azure infrastructures</li>
              <li><i class="ri-check-double-line"></i> Generate Infrastructure as Code (IaC) seamlessly</li>
              <li><i class="ri-check-double-line"></i> Estimate costs accurately</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              Our platform simplifies the process of architecting Azure environments. Say goodbye to manual configurations and hello to streamlined infrastructure setup.
            </p>
            <a href="#" class="btn-learn-more">Get Started</a>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Us Section -->

     <!-- ======= Services Section ======= -->
     <section id="services" class="services">
      <div class="container">
    
        <div class="section-title" data-aos="fade-up">
          <h2>Our Services</h2>
          <p>Explore the features of Azure Architecture</p>
        </div>
    
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="#">Compose Infrastructures</a></h4>
              <p class="description">Easily build complex Azure infrastructures with VMs, VNets, and storage.</p>
            </div>
          </div>
    
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="#">Generate IaC</a></h4>
              <p class="description">Automatically generate Infrastructure as Code for your Azure architecture.</p>
            </div>
          </div>
    
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="#">Estimate Costs</a></h4>
              <p class="description">Get accurate cost estimates for your Azure infrastructures.</p>
            </div>
          </div>
    
         
    
        </div>
    
      </div>
    </section>
    <!-- End Services Section -->

  </main>
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>Azure Architecture</strong>. All Rights Reserved
          </div>
          
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 
</body>
</html>