<div class="dialog-container center-dialog">
<div class="container">
    <form [formGroup]="virtualNetworkForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="region">Region</label>
        <select formControlName="idRegion" id="region" class="form-control">
          <option *ngFor="let region of regions" [value]="region.id">{{ region.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="subnet">Subnet</label>
        <select formControlName="idSubnet" id="subnet" class="form-control">
          <option *ngFor="let subnet of subnets" [value]="subnet.id">{{ subnet.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="resourceGroup">Resource Group</label>
        <select formControlName="idRessourceGroupe" id="resourceGroup" class="form-control">
          <option *ngFor="let resourceGroup of resourceGroups" [value]="resourceGroup.id">{{ resourceGroup.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" formControlName="name" id="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="ipAddresses">IP Addresses</label>
        <input type="text" formControlName="ipAddresses" id="ipAddresses" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!virtualNetworkForm.valid">Create Virtual Network</button>
      <!-- Close button -->
      <button type="button" class="btn btn-secondary ml-2" (click)="closeDialog()">Close</button>
    </form>
  </div>
</div>
  