<aside class="left-sidebar">
    <div class="sidebar-scroll">
        <nav class="sidebar-nav" data-simplebar>
            <ul id="sidebarnav">
                <!-- Containers -->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Containers</span>
                </li>
                <li class="sidebar-item" draggable="true" (dragstart)="onDragStart($event, 'Resource Group')">
                    <a class="sidebar-link">
                        <i class="ti ti-user"></i>
                        <span class="hide-menu">Resource Group</span>
                    </a>
                </li>
                <!-- Compute -->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Compute</span>
                </li>
                <li class="sidebar-item" draggable="true" (dragstart)="onDragStart($event, 'Virtual Machine')">
                    <a class="sidebar-link">
                        <i class="ti ti-user"></i>
                        <span class="hide-menu">Virtual Machine</span>
                    </a>
                </li>
                <li class="sidebar-item" draggable="true" (dragstart)="onDragStart($event, 'Vmss')">
                    <a class="sidebar-link">
                        <i class="ti ti-user"></i>
                        <span class="hide-menu">Vmss</span>
                    </a>
                </li>
                 <!-- Network -->
                 <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Network</span>
                </li>
               
                <li class="sidebar-item" draggable="true" (dragstart)="onDragStart($event, 'Application Gateway')">
                    <a class="sidebar-link">
                        <i class="ti ti-user"></i>
                        <span class="hide-menu">Application Gateway</span>
                    </a>
                </li>
                <li class="sidebar-item" draggable="true" (dragstart)="onDragStart($event, 'Subnet')">
                    <a class="sidebar-link">
                        <i class="ti ti-user"></i>
                        <span class="hide-menu">Subnet</span>
                    </a>
                </li>
                <li class="sidebar-item" draggable="true" (dragstart)="onDragStart($event, 'Virtual network')">
                    <a class="sidebar-link">
                        <i class="ti ti-user"></i>
                        <span class="hide-menu">Virtual network</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>

<div class="main-content">
    <div class="body-wrapper">
        <canvas #canvas (drop)="onDrop($event)" (dragover)="onDragOver($event)" (click)="canvasClick($event)" width="800" height="400"></canvas>
        <input *ngIf="selectedItem" type="range" min="0" max="360" [(ngModel)]="selectedItem.rotation" (input)="redrawCanvas()" cdkDrag>
        <ng-container *ngIf="selectedItemType === 'vmss'">
          
          </ng-container>
    </div>
</div>