<!-- terraform-code-dialog.component.html -->
<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Terraform Code</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="card">
          <div class="top">
            <p class="title">Terraform Code</p>
            <span class="buttons">
              <button class="minimize">
                <svg viewBox="0 0 10.2 1" y="0px" x="0px"><rect height="1" width="10.2" y="50%" x="0"></rect></svg>
              </button>
              <button class="maximize">
                <svg viewBox="0 0 10 10"><path d="M0,0v10h10V0H0z M9,9H1V1h8V9z"></path></svg>
              </button>
              <button class="close">
                <svg viewBox="0 0 10 10"><polygon points="10.2,0.7 9.5,0 5.1,4.4 0.7,0 0,0.7 4.4,5.1 0,9.5 0.7,10.2 5.1,5.8 9.5,10.2 10.2,9.5 5.8,5.1"></polygon></svg>
              </button>
            </span>
          </div>
          <div class="topfix"></div>
          <hr>
          <div class="content">
            <pre>{{ data.terraformCode }}</pre>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalRef.close()">Close</button>
    </div>
  </div>
  