<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <!-- Containers -->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Containers</span>
                </li>
                <li class="sidebar-item" draggable="true" (dragstart)="onDragStart($event, 'resourceGroup')">
                    <a class="sidebar-link">
                        <span><i class="ti ti-user"></i></span>
                        <span class="hide-menu">Ressource Groupe</span>
                    </a>
                </li>
                <!-- Compute -->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Compute</span>
                </li>
                <li class="sidebar-item" draggable="true" (dragstart)="onDragStart($event, 'virtualMachine')">
                    <a class="sidebar-link">
                        <span><i class="ti ti-user"></i></span>
                        <span class="hide-menu">Virtual Machine</span>
                    </a>
                </li>
                <li class="sidebar-item" draggable="true" (dragstart)="onDragStart($event, 'vmss')">
                    <a class="sidebar-link">
                        <span><i class="ti ti-user"></i></span>
                        <span class="hide-menu">Vmss</span>
                    </a>
                </li>
                <!-- Network -->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">Network</span>
                </li>
                <li class="sidebar-item" draggable="true" (dragstart)="onDragStart($event, 'applicationGateway')">
                    <a class="sidebar-link">
                        <span><i class="ti ti-map"></i></span>
                        <span class="hide-menu">Application Gateway</span>
                    </a>
                </li>
                <li class="sidebar-item" draggable="true" (dragstart)="onDragStart($event, 'subnet')">
                    <a class="sidebar-link">
                        <span><i class="ti ti-server"></i></span>
                        <span class="hide-menu">Subnet</span>
                    </a>
                </li>
                <li class="sidebar-item" draggable="true" (dragstart)="onDragStart($event, 'virtualNetwork')">
                    <a class="sidebar-link">
                        <span><i class="ti ti-settings"></i></span>
                        <span class="hide-menu">Virtual network</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<div class="drawing-grid-container">
    <div class="drawing-grid" #drawingGrid (drop)="onDrop($event)" (dragover)="onDragOver($event)">
        <!-- Contenu de la grille de dessin -->
    </div>
</div>