<div class="drag-and-drop-container">
  
    <!-- Sidebar avec les composants source -->
    <ul
      class="sidebar"
      cdkDropList
      #sidebarList="cdkDropList"
      [cdkDropListData]="components"
      [cdkDropListConnectedTo]="designSpaceList"
      (cdkDropListDropped)="onDrop($event)"
    >
      <h2>Composants</h2>
      <li *ngFor="let component of components">
        <div class="component" cdkDrag [cdkDragData]="component">
          {{ component.name }}
        </div>
      </li>
      <button (click)="createArchitecture()">Créer l'architecture</button>
    </ul>
  
    <!-- Espace de conception où les composants sont déposés -->
    <div
      class="design-space"
      cdkDropList
      #designSpaceList="cdkDropList"
      [cdkDropListData]="placedComponents"
      [cdkDropListConnectedTo]="sidebarList"
      (cdkDropListDropped)="onDrop($event)"
      style="position: relative"
    >
      <ng-container *ngFor="let component of placedComponents">
        <div
          class="component"
          cdkDrag
          [style.position]="'absolute'"
          [style.left]="component.x + 'px'"
          [style.top]="component.y + 'px'"
          [ngClass]="{ placed: true }"
          (cdkDragMoved)="onDragMoved($event, component)"
          (click)="openModal(component)"
        >
        <img class="component-image" [src]="component.image" alt="{{ component.name }}">
        <p>{{ component.name }}</p>
        </div>
      </ng-container>
    </div>
</div>
    
<div class="col-lg-8 d-flex align-items-stretch">
  <div class="card w-100">
    <div class="card-body p-4">
      <h5 class="card-title fw-semibold mb-4">Select Code Type</h5>
      <select [(ngModel)]="selectedCodeType" class="form-select">
        <option value="pulumi">Pulumi</option>
        <option value="terraform">Terraform</option>
      </select>
    </div>
  </div>
</div>

<div class="col-lg-8 d-flex align-items-stretch" *ngIf="selectedCodeType === 'pulumi'">
  <div class="card w-100">
    <div class="card-body p-4">
      <h5 class="card-title fw-semibold mb-4">PULUMI CODE</h5>
      <div class="code-area">
        <textarea placeholder="PULUMI CODE">{{ pulumiCode }}</textarea>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-8 d-flex align-items-stretch" *ngIf="selectedCodeType === 'terraform'">
  <div class="card w-100">
      <div class="card-body p-4">
          <h5 class="card-title fw-semibold mb-4">TERRAFORM CODE</h5>
          <div class="code-area">
              <textarea placeholder="TERRAFORM CODE" [(ngModel)]="terraformCode"></textarea>
          </div>
      </div>
      <button class="btn btn-primary mt-3" (click)="estimateCosts()">Estimer les coûts</button>
      <div *ngIf="costEstimation">
          <h5 class="mt-4">Estimation des coûts</h5>
          <div class="cost-estimation-container">
              <pre>{{ costEstimation | json }}</pre>
          </div>
      </div>
  </div>
</div>



